[submodule "backend"]
	path = backend
	url = git@github.com:green-ecolution/green-ecolution-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:green-ecolution/green-ecolution-frontend.git
