services:
  storage:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    entrypoint: [/bin/bash]
    command:
      - "-c"
      - |
        function fatal() {
          echo "[ERROR]" "$$@"
          exit 1
        }

        [[ -z "$$MINIO_ROOT_USER" || -z "$$MINIO_ROOT_PASSWORD" ]] && fatal "variable MINIO_ROOT_USER or MINIO_ROOT_PASSWORD not set"

        if [[ -n "$$MINIO_DEFAULT_BUCKETS" ]]; then
          minio server /data --address "127.0.0.1:9000" &
          pid=$$!

          trap "kill $$pid" SIGINT SIGTERM ERR

          until curl -sf --max-time 5 http://localhost:9000/minio/health/live; do
            sleep 1
          done

          mc alias set local "http://localhost:9000" "$$MINIO_ROOT_USER" "$$MINIO_ROOT_PASSWORD"

          IFS="," read -a buckets <<< "$$MINIO_DEFAULT_BUCKETS"

          for bucket in "$${buckets[@]}"; do
            bucket=$${bucket#* }
            echo "BUCKET: $$bucket"
            if mc stat local/$$bucket >/dev/null 2>&1; then
              echo "Bucket already exists"
            else
              mc mb local/$$bucket
              mc anonymous set download local/$$bucket
            fi
          done

          kill $$pid
        fi

        exec minio server /data --address ":3000" --console-address ":9001"
    environment:
      - MINIO_BROWSER=on
      - MINIO_ROOT_USER=${S3_ACCESS_KEY:-root}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_KEY:-secret1234}
      - MINIO_DEFAULT_BUCKETS=${S3_BUCKET:-gpx-routes}
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-sf",
          "--max-time",
          "5",
          "http://localhost:3000/minio/health/live",
        ]
      interval: 2s
      timeout: 10s
      retries: 5
    networks:
      default:
        aliases:
          - s3.localhost
    volumes:
      - minio_store:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`minio.localhost`)"
      - "traefik.http.routers.minio.entrypoints=web"
      - "traefik.http.routers.minio.service=minio"
      - "traefik.http.services.minio.loadbalancer.server.port=9001"
      - "traefik.http.routers.s3.rule=Host(`s3.localhost`) || ( Host(`localhost`) && PathPrefix(`/${S3_BUCKET:-gpx-routes}`) )"
      - "traefik.http.routers.s3.entrypoints=web"
      - "traefik.http.routers.s3.service=s3"
      - "traefik.http.services.s3.loadbalancer.server.port=3000"

  keycloak:
    image: quay.io/keycloak/keycloak:26.2
    command:
      - --verbose
      - start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_USER:-root}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_PASSWORD:-admin}
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER:-postgres}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_HOSTNAME_STRICT: false
      KC_FEATURES: persistent-user-sessions
      KC_HTTP_ENABLED: true
      KC_HTTP_MANAGEMENT_PORT: 9000
      KC_HTTP_PORT: 3000
      KC_LOG_LEVEL: INFO
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_TRANSACTION_JTA_ENABLED: false
      KC_TRANSACTION_XA_ENABLED: false
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`auth.localhost`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.services.keycloak.loadbalancer.server.port=3000"
    volumes:
      - "./.docker/infra/keycloak/green-ecolution-realm.json:/opt/bitnami/keycloak/data/import/green-ecolution-realm.json"
      - "./.docker/infra/keycloak/init-scripts:/docker-entrypoint-initdb.d"
    networks:
      default:
        aliases:
          - auth.localhost
    healthcheck:
      test:
        - "CMD"
        - "/bin/bash"
        - "-c"
        - |
          exec 3<>/dev/tcp/localhost/9000;
          echo -e "GET /health/ready HTTP/1.1\r\nhost: localhost\r\nConnection: close\r\n\r\n" >&3;
          while IFS= read -r line; do
              if [[ "$$line" =~ "200 OK" ]]; then
                  echo "HTTP 200 OK response received from localhost";
                  exit 0;
              fi
          done <&3;

          echo "No HTTP 200 OK response received from localhost";
          exit 1;
      interval: 5s
      timeout: 5s
      retries: 10
    depends_on:
      keycloak-init-db:
        condition: service_completed_successfully

  keycloak-init-db:
    image: postgres:18
    user: "1001:1001"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: keycloak
    entrypoint: /bin/sh
    command: >
      -c "
      export PGPASSWORD=$$POSTGRES_PASSWORD;
      echo \"SELECT 'CREATE DATABASE $$POSTGRES_DB' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$$POSTGRES_DB')\\gexec\" |
      psql -U $$POSTGRES_USER -h db
      "
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgis/postgis:17-3.5-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -h localhost
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/bitnami/postgresql
    ports:
      - "127.0.0.1:5432:5432"

  pgadmin:
    image: dpage/pgadmin4:9.6.0
    entrypoint: /bin/sh
    command: >
      -c "echo \"$$SERVERS_JSON\" > /tmp/servers.json &&
      exec /entrypoint.sh"
    environment:
      SERVERS_JSON: |
        {
          "Servers": {
            "1": {
              "Name": "Green Ecolution",
              "Group": "Servers",
              "Port": 5432,
              "Username": "${POSTGRES_USER:-postgres}",
              "PasswordExecCommand": "echo '${POSTGRES_PASSWORD:-postgres}'",
              "Host": "db",
              "SSLMode": "prefer",
              "MaintenanceDB": "postgres"
            }
          }
        }
      PGADMIN_SERVER_JSON_FILE: /tmp/servers.json
      PGADMIN_DEFAULT_EMAIL: 1@1.com
      PGADMIN_DEFAULT_PASSWORD: "1"
      PGADMIN_DISABLE_POSTFIX: "true"
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    depends_on:
      db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.rule=Host(`pgadmin.localhost`)"
      - "traefik.http.routers.pgadmin.entrypoints=web"

  # ors-app:
  #   image: openrouteservice/openrouteservice:v9.0.0
  #   ports:
  #     - "8080:8082"
  #     - "9001:9001"
  #   user: "1000:1000" # Default is 1000:1000. make infra/up will override this to the actual user values
  #   volumes:
  #     - ./.docker/infra/ors:/home/ors
  #   environment:
  #     ors.engine.profile_default.build.source_file: /home/ors/files/sh.osm.pbf
  #     REBUILD_GRAPHS: false
  #     CONTAINER_LOG_LAVEL: INFO
  #     XMS: 256m
  #     XMX: 512m
  #     ADDITIONAL_JAVA_OPTS: ""
  #   deploy:
  #     resources:
  #       reservations:
  #         cpus: "1"
  #         memory: 256m
  #       limits:
  #         cpus: "1"
  #         memory: 512m
  #   networks:
  #     - app-network

  vroom:
    image: ghcr.io/vroom-project/vroom-docker:v1.14.0
    volumes:
      - ./.docker/infra/vroom:/conf
    environment:
      VROOM_ROUTER: valhalla
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--silent",
          "--fail-with-body",
          "--max-time",
          "5",
          "http://localhost:3000/health",
        ]
      interval: 2s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        reservations:
          cpus: "1"
          memory: 150m
        limits:
          cpus: "1"
          memory: 150m
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vroom.rule=Host(`vroom.localhost`)"
      - "traefik.http.routers.vroom.entrypoints=web"

  valhalla:
    image: ghcr.io/gis-ops/docker-valhalla/valhalla:3.5.1
    volumes:
      - ./.docker/infra/valhalla/custom_files:/custom_files
    environment:
      server_threads: 20
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--silent",
          "--fail-with-body",
          "--max-time",
          "5",
          "http://localhost:8002/status",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
    deploy:
      resources:
        reservations:
          cpus: "1"
          memory: 256m
        limits:
          cpus: "2"
          memory: 1536m
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.valhalla.rule=Host(`valhalla.localhost`)"
      - "traefik.http.routers.valhalla.entrypoints=web"

  reverse-proxy:
    image: traefik:3.5.1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:3000"
    ports:
      - "127.0.0.1:3000:3000/tcp"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.service=traefik"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

volumes:
  minio_store:
  db_data:
