name: "Build and test project on PR"

on:
  pull_request:
    branches:
      - develop
      - release/*

jobs:
  build:
    defaults:
      run:
        working-directory: ./frontend
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          pnpm build

  lint:
    defaults:
      run:
        working-directory: ./frontend
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Linter
        continue-on-error: false
        run: |
          pnpm lint

  test:
    defaults:
      run:
        working-directory: ./frontend
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Test
        run: |
          pnpm test
