version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "go"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "ci"
      - "github-actions"

  - package-ecosystem: "docker"
    directory: ".docker"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker"

  - package-ecosystem: docker-compose
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker-compose"
      - "infra"
