.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select[multiple] > option {
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 0.375rem;
  margin-bottom: 0.25rem;
}

select[multiple] > option:checked {
  background-color: var(--green-dark-200);
}
