/* Override default styles from splide slider package */
.splide.splide--grid > .splide__track {
  @media (min-width: 1024px) {
    padding-bottom: 1.75rem !important;
  }
}

.splide.splide--grid > .splide__track > .splide__list {
  @media (min-width: 1024px) {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    column-gap: 1.5rem !important;
    row-gap: 2rem !important;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

.splide.splide--grid-small > .splide__track > .splide__list {
  @media (min-width: 1024px) {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    column-gap: 1.5rem !important;
    row-gap: 2rem !important;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

.splide__pagination {
  bottom: 0 !important;
  @media (min-width: 1024px) {
    bottom: -1rem !important;
  }
}

.splide__pagination .splide__pagination__page {
  width: 0.625rem !important;
  height: 0.625rem !important;
}

.splide__pagination .splide__pagination__page.is-active {
  background-color: var(--green-dark-900) !important;
  transform: scale(1) !important;
}

.splide__pagination__page:focus-visible {
  outline-style: solid !important;
  outline-width: 2px !important;
  outline-offset: 2px !important;
  outline-color: var(--green-light-900) !important;
}
