@import 'tailwindcss';
@import '@green-ecolution/ui/styles';
@import './frontend.css';

/* Scan UI package for Tailwind classes */
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 640px) {
    padding-inline: 1.5rem;
  }

  @media (width >= 1024px) {
    padding-inline: 2rem;
  }
}
