@import 'tailwindcss';
@import '../../../packages/ui/src/styles/globals.css';
@import './frontend.css';

/* Scan UI package for Tailwind classes */
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 640px) {
    padding-inline: 1.5rem;
  }

  @media (width >= 1024px) {
    padding-inline: 2rem;
  }
}

@utility icon-arrow-animate {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;

  .group:hover & {
    transform: translateX(0.5rem);
  }

  .group:disabled & {
    transform: translateX(0);
  }
}

@utility icon-arrow-back-animate {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;

  .group:hover & {
    transform: translateX(-0.25rem);
  }

  .group:disabled & {
    transform: translateX(0);
  }
}
