name: "Draft New Release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The release version"
        required: true

jobs:
  draft_new_release_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Notify backend repo to draft new release
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GREEN_ECOLUTION_PAT }}
          repository: green-ecolution/backend
          event-type: "draft-new-release"
          client-payload: '{"version": "${{ github.event.inputs.version }}"}'

  draft_new_release_frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Notify frontend repo to draft new release
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GREEN_ECOLUTION_PAT }}
          repository: green-ecolution/frontend
          event-type: "draft-new-release"
          client-payload: '{"version": "${{ github.event.inputs.version }}"}'
