name: "Update flake frontend and backend unstable"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-packages-unstable: 
    runs-on: ubuntu-latest
    steps:
      - name: Get Green Ecolution App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          permission-contents: write

      - name: Get Green Ecolution App User ID
        id: get-user-id
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"

      - name: Initialize mandatory git config
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'
   
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          submodules: "recursive"

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v16
        with:
          name: green-ecolution
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Update backend in flake
        run:
          nix-shell -p nix-update --run "nix-update backend --flake --version=branch --build --commit"

      - name: Update frontend in flake
        run:
          nix-shell -p nix-update --run "nix-update frontend --flake --version=branch --build --commit"

      - name: Push changes
        run: 
          git push origin develop || echo "No changes to commit"
