name: "Update submodules stage"

on:
  repository_dispatch:
    types: [update-submodules-stage]
  workflow_dispatch:

jobs:
  build-and-push-migrations:
    runs-on: ubuntu-latest
    if : github.event.client_payload.from == 'backend'
    permissions:
      contents: write
      packages: write
      actions: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GREEN_ECOLUTION_PAT }}
          submodules: "true"

      - name: Update submodules
        env:
          GITHUB_TOKEN: ${{ secrets.GREEN_ECOLUTION_PAT }}
        run: git submodule update --init --recursive --remote -f

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push postgres migrations
        uses: docker/build-push-action@v6
        with:
          context: .
          token: ${{ secrets.GREEN_ECOLUTION_PAT }}
          file: ./.docker/migrations/Dockerfile.postgres
          platforms: linux/amd64
          push: true
          tags: ghcr.io/green-ecolution/migrations-postgres:${{ github.event.client_payload.version }}-stage

  update-submodules:
    needs: build-and-push-migrations
    if: always() && needs.build-and-push-migrations.result != 'failure'
    runs-on: ubuntu-latest
    steps:
      - name: Get Green Ecolution App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          permission-contents: write

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          submodules: "recursive"

      - name: Setup kube tools
        uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            kustomize
          kustomize: "5.4.3"

      - name: Get Green Ecolution App User ID
        id: get-user-id
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"

      - name: Initialize mandatory git config
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Update submodules
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: git submodule update  --init --recursive --remote -f

      - name: Bump frontend stage image tag
        if : github.event.client_payload.from == 'frontend'
        run: |
          cd ./deploy/kustomize/stage
          kustomize edit set image frontend-image=ghcr.io/green-ecolution/frontend:${{ github.event.client_payload.version }}-stage

      - name: Bump backend stage image tag
        if : github.event.client_payload.from == 'backend'
        run: |
          cd ./deploy/kustomize/stage
          kustomize edit set image backend-image=ghcr.io/green-ecolution/backend:${{ github.event.client_payload.version }}-stage

      - name: Dump stage init migrations image tag
        if : github.event.client_payload.from == 'backend'
        run: |
          cd ./deploy/kustomize/stage
          kustomize edit set image init-migrations-image=ghcr.io/green-ecolution/migrations-postgres:${{ github.event.client_payload.version }}-stage

      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          git add frontend backend deploy/kustomize/stage/kustomization.yaml
          git commit -m "chore: update submodules and bump stage image tag to version ${{ github.event.client_payload.version }} [skip ci]" && git push origin develop || echo "No changes to commit"

      # Update nix flake to develop rev
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v16
        with:
          name: green-ecolution
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Update backend in flake
        run:
          nix-shell -p nix-update --run "nix-update backend --flake --version=branch --commit"

      - name: Update frontend in flake
        run:
          nix-shell -p nix-update --run "nix-update frontend --flake --version=branch --commit"

      - name: Push changes
        run:
          git push origin develop || echo "No changes to commit"
